@model TakoLeaf.ViewModels.RechercheViewModel
@{ Layout = "_LayoutConnecte"; }
<head>
    <script src="https://kit.fontawesome.com/1ca99e9622.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Recherche</title>
</head>
<body>
    <div class="container">
        @if (Model.Adherents == null)
        {
    <div class="card mx-auto text-center" style="width:80%">
        <div class="card-header">
            <h3>Recherche</h3>
        </div>
        <div class="card-body">
            <div style="display:block">
                @using (Html.BeginForm())
                {
    <div style="display:block">
        @Html.DropDownList("Choix", (SelectList)ViewBag.Choix, "Que recherchez-vous?", new { id = "Choix", onchange = "choix()", @style = "display:block;", @class = "form-control" })
    </div>
                        <div id="adresses" style="display:none">
                            @Html.DropDownList("Adresse", Model.CodePostauxList, "Choisir Lieu", new { @class = "form-control" })
                        </div>
                                            <div id="utilisateur" style="display:none">
                                                <div>
                                                    <input list="prenoms" name="Prenom" class="form-control" placeholder="Prénom" />
                                                    <datalist id="prenoms">
                                                        @foreach (var prenom in ViewBag.Prenoms)
                                                        {
                                    <option value=@prenom></option>
}
                                                    </datalist>
                                                </div>
                                                <div>
                                                    <input list="noms" name="Nom" class="form-control" placeholder="Nom" />
                                                    <datalist id="noms">
                                                        @foreach (var nom in ViewBag.Noms)
                                                        {
                                    <option value=@nom></option>
}
                                                    </datalist>
                                                </div>
                                            </div>
                                                                <div id="service" style="display:none">
                                                                    @Html.DropDownList("Competence", Model.SsCateList, "Choisir Competence", new { @class = "form-control" })
                                                                </div>
                                                                                    <div id="ressource" style="display:none">
                                                                                        @Html.DropDownList("Ressource", (SelectList)ViewBag.Ressources, "Choisir Ressource", new { @class = "form-control", onchange = "ress()" })
                                                                                        <div id="inp" style="display:none">
                                                                                            @Html.TextBox("Input", "Que recherchez-vous précisément?", new { @class = "form-control" })
                                                                                        </div>
                                                                                    </div>
                                                                                                        <button type="submit" class="btn btn-outline-success btn-lg mt-2"><i class="fas fa-search"></i>Rechercher</button>}
            </div>
        </div>
    </div> }
                else
                {
                    <div class="card mt-5">
                        <div class="card-header text-center">
                            <h3>Résultat de la recherche</h3>
                        </div>
                    
                        <div class="card-body p-auto" style="height:1000px; overflow-y: scroll">
                            <div data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                                <div class="raw w-100 d-flex flex-wrap justify-content-center">

                                    @foreach (var item in Model.CompteUsers)
                                    {
                        <div class="col-3 m-1">
                            <div class="card">
                                <img class="card-img-top" src="~/IMG/AVATAR ADMIN/Anonyme.png" alt="Avatar">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Adherent.Prenom @item.Adherent.Nom</h5>
                                    <p class="card-text text-truncate">@item.Description</p>
                                    <p class="card-text"><small class="text-muted">@item.Adherent.Adresse.CodePostal</small></p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-outline-info" onclick="window.location.href = '@Url.Action("VisiteProfil", "Recherche", new { id = item.AdherentId })'">Voir le profil</button>
                                </div>
                            </div>
                        </div>}
                                </div>
                            </div>
                        </div>
                        </div>
                }


    </div>

    <script>
        function choix() {
            document.getElementById("adresses").style.display = "block";
            var choix1 = document.getElementById("Choix").value;
            switch (choix1) {
                case "Un utilisateur":
                    document.getElementById("utilisateur").style.display = "block";
                    document.getElementById("service").style.display = "none";
                    document.getElementById("ressource").style.display = "none";
                    break;

                case "Un service":
                    document.getElementById("service").style.display = "block";
                    document.getElementById("utilisateur").style.display = "none";
                    document.getElementById("ressource").style.display = "none";
                    break;

                case "Une ressource":
                    document.getElementById("ressource").style.display = "block";
                    document.getElementById("utilisateur").style.display = "none";
                    document.getElementById("service").style.display = "none";
                    break;

                default:
                    console.log("erreur");
                    document.getElementById("adresses").style.display = "none";
                    document.getElementById("utilisateur").style.display = "none";
                    document.getElementById("service").style.display = "none";
                    document.getElementById("ressource").style.display = "none";
            }
        }

        function ress() {
            document.getElementById("inp").style.display = "block";
        }
    </script>
</body>
