@model TakoLeaf.ViewModels.UtilisateurViewModel
@{
    Layout = "_LayoutProfilConsumer";
    ViewBag.Title = "Profil";

}



@{
    string Plan = "http://www.google.fr/maps/place/" + Model.Adherent.Adresse.Rue + ",+" + Model.Adherent.Adresse.CodePostal + "+" + Model.Adherent.Adresse.Ville;

}

@*<div>
    <h2>Informations Adherent</h2>
    <ul>
        <li>Avatar : @Model.CompteUser.Avatar</li>
        <li>Nom : @Model.Adherent.Nom</li>
        <li>Prenom : @Model.Adherent.Prenom</li>

        <li>Adresse : @Model.Adherent.Adresse.Rue , @Model.Adherent.Adresse.CodePostal , @Model.Adherent.Adresse.Ville</li>
        <button><a href="@Plan" target="_blank">Voir Carte</a></button>

        <li>Telephone : @Model.Adherent.Telephone</li>
    </ul>

    @if (Model.Amis == false)
    {

        @using (Html.BeginForm("Suivre", "ProfilUser"))
        {
            <input type="text" name="id" value="@Model.Adherent.Id" style="display:none;" />
            <button class="btn btn-primary btn-xl" type="submit">Suivre</button>
        }
    }

    else
    {
        <button>Suivi</button>
    }



</div>

<div>
    <p>@Model.CompteUser.Description</p>
</div>

<div>
    <h2>Informations Voiture</h2>
    @for (int i = 0; i < Model.Voitures.Count; i++)
    {
        <ul>
            <li>Marque : @Model.Marques[i]</li>
            <li>Modele : @Model.Modeles[i]</li>
            <li>Immatriculation : @Model.Voitures[i].Immatriculation</li>
            <li>Titulaire : @Model.Voitures[i].Titulaire</li>
            <li>Carburant : @Model.Voitures[i].Carburant</li>
            <li>Annee : @Model.Voitures[i].Annee</li>
        </ul>
    }
</div>*@

@*<div>
        <a href=""><img src="IMG/RS/entypo-social_instagram-with-circle.png" alt="" class="instagram"></a>
        <a href=""><img src="IMG/RS/Vector-1.png" alt="" class="twitter"></a>
        <a href=""><img src="IMG/RS/Vector.png" alt="" class="facebook"></a>
    </div>*@




<section class="ProfilConsumer">

    <div class="container_Location">
        <table class="data">
            <tr>
                <th>Titulaire</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Immatriculation</th>
                <th>Annee</th>
                <th>Carburant</th>


            </tr>

            @for (int i = 0; i < Model.Voitures.Count; i++)
            {
                <tr>
                    <td>@Model.Voitures[i].Titulaire</td>
                    <td>@Model.Voitures[i].Modele.Marque.Nom</td>
                    <td>@Model.Voitures[i].Modele.Nom</td>
                    <td>@Model.Voitures[i].Immatriculation</td>
                    <td>@Model.Voitures[i].Annee</td>
                    <td>@Model.Voitures[i].Carburant</td>
                </tr>
            }
        </table>
    </div>


    <div class="container_Avis">

        @if (Model.Avis.Count == 0)
        {
            <p>Pas d'avis laissé</p>
        }
        else
        {
            @for (int i = 0; i < Model.Avis.Count; i++)
            {
                <p>Avis laissé pour  @Model.Avis[i].Provider.Adherent.Nom @Model.Avis[i].Provider.Adherent.Prenom le @Model.Avis[i].DateCreation.ToShortDateString() : @Model.Avis[i].Contenu</p>

            }
        }
    </div>



    <div class="container_Presentation">
        <p>@Model.CompteUser.Description</p>
    </div>


    <div class="container_RS">

        <div class="icones_RS">
            <a href="#"><img src="~/IMG/RS PROFILE/entypo-social_instagram-with-circle.png" alt=""></a>
            <a href="#"><img src="~/IMG/RS PROFILE/entypo-social_facebook-with-circle.png" alt=""></a>
            <a href="#"><img src="~/IMG/RS PROFILE/entypo-social_twitter-with-circle.png" alt=""> </a>

        </div>
    </div>

    <div class="map">
        
    </div>



    <div class="localisation">
        <p class="loca">
            Localisation
        </p>
        <p class="deplace">
            Peut se déplacer :
        </p>
        <ul class="deplacement">
            <li> 10km et autour</li>
            <li> 30km et autour</li>
        </ul>
        <div class="img_localisation">
            <img src="IMG/Localisation/Drawing Pin Filled.png" alt="">
            <img src="IMG/Localisation/Double Arrow Right.png" alt="">
        </div>

    </div>

    <div class="profile_consumer">

        <div class="followbt">
            @if (Model.Amis == false)
            {

                @using (Html.BeginForm("Suivre", "ProfilUser"))
                {
                    <input type="text" name="id" value="@Model.Adherent.Id" style="display:none;" />
                    <button id="follow-button" type="submit">Suivre</button>
                }
            }

            else
            {
                <button id="follow-button">Suivi</button>
            }

        </div>

        <div class="contacter">
            <div class="elements">
                <p>Contacter</p>
                <a href="#"> <img src="~/IMG/Localisation/Envelope Open.png" alt="">  </a>
            </div>
        </div>


        <p class="Nom-Provider">@Model.Adherent.Nom</p>
        <p class="Prenom-Provider">@Model.Adherent.Prenom</p>

    </div>

    <div class="img-localisation">
        <img src="IMG/Localisation/Drawing Pin Filled.png" alt="">
        <p>Localisé(e) à.. <br />@Model.Adherent.Adresse.Rue <br />@Model.Adherent.Adresse.CodePostal @Model.Adherent.Adresse.Ville</p>
    </div>

    <div class="pp_Provider">
        <div class="pp_providerImage">
            @{ string image = Model.CompteUser.Avatar;}
            <img src="~/Avatar/@image" alt="">
        </div>
        <img src="IMG/Localisation/bi_check-circle-fill.png" class="Checked" alt="">

    </div>

</section>


