@model TakoLeaf.ViewModels.ForumViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NouveauSujet</title>
</head>
<body>
    @using (Html.BeginForm())
            {
                @Html.TextBoxFor(model => model.Sujet.Titre, new { placeholder = "Sujet"})
                @Html.LabelFor(model => model.Sujet.Titre)
                @Html.ValidationMessageFor(model => model.Sujet.Titre)
                <input type="submit"/>

                @Html.TextAreaFor(model => model.Post.CorpsPost, new { placeholder = "Message"})
                @Html.LabelFor(model => model.Post.CorpsPost)
                @Html.ValidationMessageFor(model => model.Post.CorpsPost)
            }
</body>
</html>
