@model TakoLeaf.ViewModels.ForumViewModel
@{ Layout = null; }

<!DOCTYPE html>

<html>
    <head>
        <script src="https://cdn.tiny.cloud/1/yd36gh7ryo0g33xjyre47fcstapvpntex6lummgys933q1k6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <meta name="viewport" content="width=device-width" />
        <title>Sujet</title>
    </head>
    <body>
        @{var cttn = new TakoLeaf.Models.Post();
            <h3>@Model.Sujet.Titre</h3>
            @foreach (var item in Model.Posts)
            {
                string idrep = "rep" + item.Id;
                string postmod = "postmod" + item.Id;
                string idmod = "mod" + item.Id;
                var cite = "<div contenteditable='false'><blockquote> Le " + item.Date.ToShortDateString() + " à " + item.Date.ToShortTimeString() + ", " + item.Adherent.Prenom + " a dit:</blockquote><cite>" + item.CorpsPost + "</cite></div> html";
                cttn.CorpsPost = cite;
                <div class="post">
                    <p>@item.CorpsPost</p>
                    <div class="ftr">
                        <em>@item.Adherent.Prenom</em>
                        <em>@item.Date</em>
                    </div>
                    <button type="button" onclick="Citer('@item.Date.ToShortDateString()', '@item.Date.ToShortTimeString()', '@item.Adherent.Prenom', '@item.CorpsPost')">Citer</button>
                    <button type="button" onclick="OuvrirPostForm('@idmod')">Signaler</button>
                </div>
                <br />
                <div style="display:none" id=@idrep>
                    <button type="button" onclick="Close('@idrep')">x</button>
                    
                </div>
                <div style="display:none" id=@idmod>
                        <button type="button" onclick="Close('@idmod')">x</button>
                        @using (Html.BeginForm())
                        {
                            @Html.TextAreaFor(model => item.CorpsPost, new { @class = "mytextarea", id = @postmod })
                            @Html.ValidationMessageFor(model => model.Post.CorpsPost)
                            <button onclick="location.href='@Url.Action("ModifierPost", "Forum", new { id = item.Id })'">Valider</button>
                        }
                </div>
                <hr />
             }
             @using (Html.BeginForm())
              {
                    @Html.TextAreaFor(model => model.Post.CorpsPost, new { placeholder = "Message", @class = "mytextarea", id = "repTA" })
                        <button onclick="location.href='@Url.Action("Repondre", "Forum")'">Valider</button>
              }
            }
    <script>function OuvrirPostForm(id) {
            document.getElementById(id).style.display = "block";

        }

        function Close(id) {
            document.getElementById(id).style.display = "none";
        }

        function Citer(postD, postT, postA, postC) {
            var citation = "<div contenteditable='false'><blockquote>Le " + postD + " à " + postT + ", " + postA + " a dit:</blockquote><cite>" + postC+"</cite></div><br /><p></p>"
            tinymce.get("repTA").setContent(citation, { format: 'raw' });
    }</script>
            <script>
                tinymce.init({
                    selector: '.mytextarea',
                    plugins: ['image','lists code emoticons'],
                    toolbar: 'undo redo | styleselect | bold italic | ' +
                        'alignleft aligncenter alignright alignjustify | ' +
                        'outdent indent | numlist bullist | emoticons',
                    a11y_advanced_options: true,
                    min_height: 300,
                    statusbar: false
                });
            </script>
    </body>
</html>