@model TakoLeaf.ViewModels.ProviderViewModel
@{
    Layout = "_LayoutConnecte";
    ViewBag.Title = "Ajout Ressource";
}
<h2 class="text-center"> Veuillez indiquer les indiquer les ressources</h2>
<div class="container w-auto">
    
    @using (Html.BeginForm())
    {

        <div>
            @Html.LabelFor(m => m.Ressource.Intitule)
            @Html.TextBoxFor(m => m.Ressource.Intitule)

            @Html.LabelFor(m => m.Ressource.Adresse.Rue)
            @Html.TextBoxFor(m => m.Ressource.Adresse.Rue)

            @Html.LabelFor(m => m.Ressource.Adresse.CodePostal)
            @Html.TextBoxFor(m => m.Ressource.Adresse.CodePostal)

            @Html.LabelFor(m => m.Ressource.Adresse.Ville)
            @Html.TextBoxFor(m => m.Ressource.Adresse.Ville)

            @Html.LabelFor(m => m.Ressource.TarifJournalier)
            @Html.TextBoxFor(m => m.Ressource.TarifJournalier)

            @Html.LabelFor(m => m.Ressource.Categorie)
            @Html.DropDownListFor(m => m.Ressource.Categorie, (SelectList)ViewBag.Cate)
        </div>

        <button id="ajouter" type="submit">Ajouter</button>

        @Html.HiddenFor(m => m.Provider.Id)
        @Html.HiddenFor(m => m.Provider.AdherentId)
    }
    <br />
    
</div>
  
<button class="text-center">@Html.ActionLink("Retour au profil", "ProfilProvider", "ProfilUser", new { id = Model.Provider.AdherentId })</button>