@model TakoLeaf.ViewModels.ProviderViewModel
@{
    Layout = "_LayoutConnecte";
    ViewBag.Title = "Ajout Competences";
}

<link rel="stylesheet" href="~/CSS/Zoutils.css" />

    <h1>Quelles Compétence voulez vous ajouter ? </h1>
    @using (Html.BeginForm())
    { 
        <div class="container">
            <div class="row">
                <div class="col-4">
                    @for (int i = 0; i < Model.ListSSC.Count; i++)
                    {

                        @Html.Label(Model.ListSSC[i].Intitule)
                        @Html.CheckBoxFor(m => m.ListSSC[i].EstSelectione, new { @class = "textbox" })


                        @*@Html.LabelFor(m => m.ListSSC[i].TarifHoraire)
                        @Html.TextBoxFor(m => m.ListSSC[i].TarifHoraire)*@



                        <br />
                        @Html.HiddenFor(m => m.ListSSC[i].SsCateCompetenceId)
                        @Html.HiddenFor(m => m.ListSSC[i].Intitule)
                    }


                </div>
              
                <div class="col-8">

                    @for (int i = 0; i < Model.ListSSC.Count; i++)
                    {

                        @*@Html.Label(Model.ListSSC[i].Intitule)
                        @Html.CheckBoxFor(m => m.ListSSC[i].EstSelectione)*@



                        @Html.LabelFor(m => m.ListSSC[i].TarifHoraire)
                        @Html.TextBoxFor(m => m.ListSSC[i].TarifHoraire, new { @class = "textbox" })


                        <br />
                        @Html.HiddenFor(m => m.ListSSC[i].SsCateCompetenceId)
                        @Html.HiddenFor(m => m.ListSSC[i].Intitule)
                    }


                </div>
                

                @Html.HiddenFor(m => m.Provider.Id)

                <button class="valider" type="submit">Créer</button>

            </div>
        </div>

        }
        <br />
        <button class="valider">@Html.ActionLink("Retour au profil", "ProfilProvider", "ProfilUser", new { @class ="valider" ,id = Model.Provider.AdherentId })</button>

