@model TakoLeaf.ViewModels.ProviderViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Ajout Competences";
}


    <h1>Quelles Compétence voulez vous ajouter ? </h1>
    @using (Html.BeginForm())
    { 
        <div class="container">
            <div class="row">
                <div class="col">
            @for (int i = 0; i < Model.ListSSC.Count; i++)
            {
                @Html.Label(Model.ListSSC[i].Intitule)
                @Html.CheckBoxFor(m => m.ListSSC[i].EstSelectione)

                @Html.LabelFor(m => m.ListSSC[i].TarifHoraire)
                @Html.TextBoxFor(m => m.ListSSC[i].TarifHoraire)
                <br />
                @Html.HiddenFor(m => m.ListSSC[i].SsCateCompetenceId)
                @Html.HiddenFor(m => m.ListSSC[i].Intitule)
            }


            @Html.HiddenFor(m => m.Provider.Id)

            <button class="btn btn-primary btn-xl" type="submit">Créer</button>
            </div>
            </div>
        </div>

        }
        <br />
        <button>@Html.ActionLink("Retour au profil", "ProfilProvider", "ProfilUser", new { id = Model.Provider.AdherentId })</button>

