@model TakoLeaf.ViewModels.ProviderViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjouterCompetence</title>
</head>
<body>

    <h2> Veuillez indiquer les indiquer les ressources</h2>
    @using (Html.BeginForm())
    {

        <div>
            @Html.LabelFor(m => m.Ressource.Intitule)
            @Html.TextBoxFor(m => m.Ressource.Intitule)

            @Html.LabelFor(m => m.Ressource.Adresse)
            @Html.TextBoxFor(m => m.Ressource.Adresse)

            @Html.LabelFor(m => m.Ressource.TarifJournalier)
            @Html.TextBoxFor(m => m.Ressource.TarifJournalier)

            @Html.LabelFor(m => m.Ressource.Categorie)
            @Html.DropDownListFor(m => m.Ressource.Categorie, (SelectList)ViewBag.Cate)
        </div>

        <button id="ajouter" type="submit">Ajouter</button>

        @Html.HiddenFor(m => m.Provider.Id)
        @Html.HiddenFor(m => m.Provider.AdherentId)
    }
    <br />
    <button>@Html.ActionLink("Retour au profil", "ProfilProvider", "ProfilUser", new { id = Model.Provider.AdherentId })</button>
</body>
</html>
