@model TakoLeaf.Models.CompteUser
@{
    Layout = "_Layout";
    ViewBag.Title = "Modification Compte";

}
    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.MotDePasse, new { @type = "password", @class = "form-control", placeholder = "Mot de Passe" })
                @Html.LabelFor(model => model.MotDePasse)
                @Html.ValidationMessageFor(model => model.MotDePasse)
            </div>

            <div class="form-floating mb-3">
                <input type="file" name="fileToUpload" />
                @Html.LabelFor(model => model.Avatar)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
                @Html.LabelFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div>
                @Html.HiddenFor(m => m.AdherentId)
                @Html.HiddenFor(m => m.Mail)
                @Html.HiddenFor(m => m.Role)
            </div>

            <!-- Submit Button-->
            <button class="btn btn-primary btn-xl" type="submit">Modifier</button>
        }
    </div>
    <br />

    <h3>Coordonnées banquaires</h3>
    <button>@Html.ActionLink("Modifier les coordonnées banquaire", "ModifierCarte", "ProfilUser", new { id = Model.AdherentId })</button>

    <br />
    @if (Model.Role.Equals("Consumer"))
    {
        <button>@Html.ActionLink("Retour au profil", "ProfilConsumer", "ProfilUser", new { id = Model.AdherentId })</button>
    }
    else
    {
        <button>@Html.ActionLink("Retour au profil", "ProfilProvider", "ProfilUser", new { id = Model.AdherentId })</button>
    }



