@model TakoLeaf.ViewModels.DevisViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Demande de devis";
}

<h1> Procedez à votre demande de devis</h1>

<div>
    <ul>
        <li>Demandeur de devis : @Model.Consumer.Adherent.Prenom  @Model.Consumer.Adherent.Nom</li>
        <li>Provider choisi : @Model.Provider.Adherent.Prenom  @Model.Provider.Adherent.Nom</li>
    </ul>
</div>



<div>

    @using (Html.BeginForm())
    {
        <div>
            @Html.TextBoxFor(model => model.DemandeDevis.DateDemande, new { @readonly = "readonly", @class = "form-control" })
            

            @Html.TextBoxFor(model => model.DemandeDevis.DateDebutVoulue, new { @type = "date", @class = "form-control" })
            @Html.LabelFor(model => model)
        </div>

        <div>
            @Html.DropDownListFor(model => model.Voiture.Modele, (SelectList)ViewBag.Modeles, "Selectionnez voiture")
            @Html.LabelFor(model => model.Voiture.Modele)

        </div>

        <div>
            @for (int i = 0; i < Model.ListD.Count; i++)
            {
                @Html.Label(Model.ListD[i].Intitule)
                @Html.LabelFor(m => m.ListD[i].TarifHoraire)
                @Html.CheckBoxFor(m => m.ListD[i].EstSelectione)


                @Html.HiddenFor(m => m.ListD[i].CompetenceId)
                @Html.HiddenFor(m => m.ListD[i].Intitule)

                <br />

            }
        </div>

        <div>
            @Html.LabelFor(model => model.DemandeDevis.Message)
            @Html.TextAreaFor(model => model.DemandeDevis.Message , new { @type = "text"})
        </div>

        <div>
            <button type="submit">Envoyer</button>
        </div>

    }



</div>
