@model TakoLeaf.ViewModels.PrestationViewModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Prestation";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/AffichageTransactionAdmin.css" />
    <title>AfficherPrestation</title>
</head>
<body>

    <h1 class="entete">Affichage Prestation</h1>

    <div id="info">
        <div id="boxProvider">
            <div class="infoLeft">
                <h3 class="fiche">Fiche Information</h3>
                @if (Model.CompteUserProvider.Avatar != null)
                {
                    <img class="avatar" src="~/Avatar/@Model.CompteUserProvider.Avatar">
                }
                else
                {
                    <img class="avatar" src="~/IMG/AVATAR ADMIN/Anonyme.png">
                }

                <h4>Provider</h4>
            </div>
            <div class="infoRight">

                <table class="tableInfo">
                    <tr>
                        <th>Nom</th>
                        <td>@Model.Presta.Provider.Adherent.Nom</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>@Model.Presta.Provider.Adherent.Prenom</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.CompteUserProvider.Mail</td>
                    </tr>
                    <tr>
                        <th>RIB</th>
                        <td>@Model.ProviderRib.Rib.Iban</td>
                    </tr>
                </table>
            </div>


        </div>

        <div id="boxConsumer">
            <div class="infoLeft">
                <h3 class="fiche">Fiche Information</h3>
                @if (Model.CompteUserConsumer.Avatar != null)
                {
                    <img class="avatar" src="~/Avatar/@Model.CompteUserConsumer.Avatar">
                }
                else
                {
                    <img class="avatar" src="~/IMG/AVATAR ADMIN/Anonyme.png">
                }
                <h4>Consumer</h4>
            </div>
            <div class="infoRight">
                <table class="tableInfo">
                    <tr>
                        <th>Nom</th>
                        <td>@Model.Presta.Consumer.Adherent.Nom</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>@Model.Presta.Consumer.Adherent.Prenom</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.CompteUserProvider.Mail</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*Voir pièces justificatives*@

    @*<div class="box">
            <titre>Fiche Information</titre>

            @using (@Html.BeginForm())
            {
                <image>@Model.CompteUserConsumer.Avatar</image>
                <titre>Nom</titre> <info>@Model.Presta.Consumer.Adherent.Nom</info>
                <titre>Prénom</titre> <info>@Model.Presta.Consumer.Adherent.Prenom</info>
                <titre>Email</titre> <info>@Model.CompteUserProvider.Mail</info>
            }
        </div>*@


    <div id="description">
        <div class="boite">
            <h3 class="intitule">Description de la transaction</h3>

            <table class="data">
                <tr>
                    <th>ID Transaction</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Numéro Devis</th>
                </tr>
                <tr>
                    <td>@Model.Presta.Id</td>
                    <td>@Model.Presta.DateDebut.ToShortDateString()</td>
                    <td>@Model.Presta.Prix euros</td>

                    @if (@Model.Presta.NumeroDevis == null)
                    {


                        <td>---</td>
                    }
                    else
                    {
                        <td>@Model.Presta.NumeroDevis</td>
                    }


                </tr>
            </table>
        </div>
    </div>

    <div id="description">
        <div class="boite">
            <h3 class="intitule">Document(s) associé(s)</h3>
            <div class="documents">
                @*@if (@Model.Presta.Devis.CompetenceL != null)
                    {

                        @foreach (var item in @Model.Presta.Devis.CompetenceL)
                        {

                            <td>@item</td>

                        }
                    }

                    else
                    {

                        @foreach (var item in @Model.Presta.Devis.RessourceL)
                        {

                            <td>@item</td>

                        }
                    };*@
            </div>
        </div>
    </div>
    <div class="bouton">

        @if(Model.Presta.EtatPresta != TakoLeaf.Models.Prestation.Etat.Cloture)

        @if (Model.Presta.EtatPresta == TakoLeaf.Models.Prestation.Etat.Valide)
        {
            <button class="valider" style="text-decoration: none;">@Html.ActionLink("Clôturer", "ValiderTransaction", new { id = Model.Presta.Id })</button>
        }

        <button class="annuler">Annuler transaction</button>
    </div>
</body>
</html>
