@model TakoLeaf.ViewModels.DashViewModel
@{
    ViewData["Title"] = "Affichage transaction";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfficherProfil</title>
    <link rel="stylesheet" href="~/CSS/TransactionsAdmin.css" />
</head>
<body>



    <h1 class="titre">Espace transactions</h1>

    <div id="box">


        <table class="ad">
            <tr class="tableauH">
                <th>Avatars</th>
                <th>ID transaction</th>
                <th>Consumer</th>
                <th>Provider</th>
                <th>Date</th>
                <th>Etat</th>

            </tr>

            @foreach (var item in Model.ListePrestations)
            {
                @*<tr>
                    <td>@item.Consumer.Adherent.Nom @item.Consumer.Adherent.Prenom</td>
                    <td>@item.Provider.Adherent.Nom @item.Provider.Adherent.Prenom</td>
                    <td>@item.DateDebut.ToShortDateString()</td>
                </tr>*@

                string editLink = "/Admin/AfficherPrestation?id=" + item.Id.ToString();
        <tr class="donnees">

            @*@foreach (var item2 in Model.ListePrestations)
        {

        }*@

            <td><img class="avatar" src="~/IMG/AVATAR ADMIN/Anonyme.png" /> <img class="avatar" src="~/IMG/AVATAR ADMIN/Anonyme.png" /></td>
            <td><a class="laink" href="@editLink">@item.Id</a></td>
            <td href="@editLink">@item.Consumer.Adherent.Nom @item.Consumer.Adherent.Prenom</td>
            <td href="@editLink">@item.Provider.Adherent.Nom @item.Provider.Adherent.Prenom</td>
            <td href="@editLink">@item.DateDebut.ToShortDateString()</td>

            @if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Refuse)
            {
                <td><img class="etat" src="~/IMG/ICONE ADMIN/VectorEtatInvalide.png" /></td>
            }
            else if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.En_cours)
            {
                <td><img class="etat" src="~/IMG/ICONE ADMIN/Glyph_.png" /></td>
            }
            else if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Valide)
            {
                <td><img class="etat" src="~/IMG/ICONE ADMIN/EtatValide.png" /></td>
            }
            else if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Cloture)
            {
                <td><img class="etat" src="~/IMG/ICONE ADMIN/Cloture.png" /></td>
            }
        </tr>



            }

        </table>

    </div>
</body>
</html>