@model List<TakoLeaf.Models.Article>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Articles</title>
    <style>
        .all-browsers {
            margin: 0;
            padding: 5px;
            background-color: #2F4858;
        }

            .all-browsers > h1, .browser {
                margin: 10px;
                padding: 5px;
            }
            h2{
                color:white;
            }
        .browser {
            background: #FFFFFF;
            border-radius: 3em;
        }

            .browser > h2, p {
                margin: 4px;
                font-size: 90%;
            }
    </style>

</head>
<body>

    <h1 style="text-align:center; font-family:sans-serif">Bienvenue sur le fil d'actualité de TakoLeaf'</h1>

    <article class="all-browsers">
        <h2>Voyons ce qu'on a au programme</h2>

        @foreach (var item in Model)
        {
            <article class="browser">
                <h3>@item.Titre</h3>
                <p>@item.Texte</p>
                <p>Publié le : @item.DatePublication</p>
            </article>
            <button>@Html.ActionLink("Modifier Article", "ModifierArticle", "Admin", new { id = item.Id })</button>
            <button>@Html.ActionLink("Supprimer Article", "SuppressionArticle", "Admin", new { id = item.Id })</button>
        }



    </article>

</body>
</html>
