@model TakoLeaf.ViewModels.DashViewModel

@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/Dashboard.css" />
    <title>Dashboard</title>

    <style>

        /*
                th {
                    text-align: left;
                    background-color: #2F4858;
                    color: white;
                    border-radius: 10px;
                }


                table, th, td {
                    text-align: center;
                    font-family: 'Roboto';
                    padding: 10px;
                }

                tr:nth-child(even) {
                    background-color: #A1E1AF;
                    border-radius: 10px;
                    color: white;
                }

                #text {
                    text-align: center;
                }

                .boite {
                    padding-left: 200px;
                    padding-bottom: 100px;
                    padding-top: 50px;
                    display: inline-block;
                    float: left;
                }

                .box {
                    padding-left: 200px;
                    padding-bottom: 100px;
                    padding-top: 50px;
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 50px;
                    display: inline-block;
                    float: left;
                    clear: right;
                }

                .conteneur {
                    padding: 10px;
                    clear: left;
                }

                fieldset {
                    padding: 30px;
                    display: inline-block;
                    border: 5px solid #FFF8ED;
                    background-color: #FFF8ED;
                    border-radius: 10px;
                    box-shadow: 10px 5px 5px grey;
                }*/

        /*legend {
            font-family: sans-serif;
            font-size: 30px;
            font-weight: bolder;
            font-style: italic;
            background-color: #A1E1AF;
            color: white;
            padding: 50px;
            border-radius: 10px 100px / 120px;
        }*/



    </style>

</head>

<body>

    <h1 class="text-xxl-center" id="titreP">Dashboard</h1>


    @{ int refus = 0;
        int valide = 0;
        int enCours = 0;
        int cloture = 0;}



    @foreach (var item in Model.ListePrestations)
    {
        if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Refuse)
        {
            refus++;
        }
        else if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.En_cours)
        {
            enCours++;
        }
        else if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Valide)
        {
            valide++;
        }
        else
        {
            cloture++;
        }
    }

    @{
        int adherent = 0;
        int consumer = 0;
        int provider = 0;
        int enAttVal = 0;

    }

    @foreach (var item in Model.ListeCompte)
    {
        if (item.EtatProfil == TakoLeaf.Models.EtatProfil.ATTENTE_VALIDATION)
        {
            enAttVal++;
        }

        if (item.Role == "Provider")
        {
            provider++;
        }

        if (item.Role == "Consumer")
        {
            consumer++;
        }

        if (item.Role != "Admin")
        {
            adherent++;
        }


    }

    <div class="container" id="leTout">

        <div class="container" id="info">
            <div class="contenu">

                <h3>Transaction(s)</h3>
                <ul>
                    <li>Refusée(s) : @refus</li>
                    <li>En cours : @enCours</li>
                    <li>Validée(s) : @valide</li>
                    <li>Clôturée : @cloture</li>
                </ul>
            </div>

            <div class="container">
                <div class="contenu" id="tresorerie">
                    <h3>Trésorerie</h3>

                    @{double count = 0; }

                    @foreach (var item in Model.ListePrestations)
                    {
                        if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Cloture)
                        {
                            count += item.Prix;
                        }
                    }

                    <div class="argent">@count €</div>
                </div>

            </div>

            <div class="container">
                <div class="contenu">
                    <h3>Adhérent(s)</h3>
                    <ul>
                        <li>Total : @adherent</li>
                        <li>Consumer(s) : @consumer</li>
                        <li>Provider(s) : @provider</li>
                        <li>En attente de validation : @enAttVal</li>
                    </ul>
                </div>

            </div>


        </div>


        <div class="box">
            <div class="contenu">
                <h3>Transaction(s) en attente</h3>
                <table class="tableInfo">
                    <tr>
                        <th>Id transaction</th>
                        <th>Consumer</th>
                        <th>Provider</th>
                        <th>Date</th>
                        <th>Prix</th>
                    </tr>

                    @foreach (var item in Model.ListePrestations)
                    {

                        if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Valide)
                        {

                            string editLink = "/Admin/AfficherPrestation?id=" + item.Id.ToString();

                            <tr>
                                <td><a class="laink" href="@editLink">@item.Id</a></td>
                                <td>@item.Consumer.Adherent.Nom @item.Consumer.Adherent.Prenom</td>
                                <td>@item.Provider.Adherent.Nom @item.Provider.Adherent.Prenom</td>
                                <td>@item.DateDebut.ToShortDateString()</td>
                                <td>@item.Prix €</td>
                            </tr>
                        }

                    }

                </table>
            </div>

        </div>
        <br />




        <div class="box">
            <div class="contenu">
                <h3>Dernier(s) Inscrit(s)</h3>
                <table class="tableInfo">
                    <tr>
                        <th>Adhérent</th>
                        <th>Mail</th>
                        <th>Rôle</th>
                        <th>Date d'inscription</th>
                        <th>Etat</th>
                    </tr>

                    @foreach (var item in Model.ListeCompte)
                    {
                        if (item.Role != "Admin")
                        {
                            string editLink2 = "/Admin/AfficherProfil?id=" + item.AdherentId.ToString();

                            <tr>

                                <td><a class="laink" href="@editLink2">@item.Adherent.Nom @item.Adherent.Prenom</a></td>
                                <td>@item.Mail</td>
                                <td>@item.Role</td>
                                <td>@item.Adherent.DateInscription.ToShortDateString()</td>

                                @if (item.EtatProfil == TakoLeaf.Models.EtatProfil.VALIDE)
                                {
                                    <td><img class="etat" src="~/IMG/ICONE ADMIN/EtatValide.png"></td>
                                }
                                else if (item.EtatProfil == TakoLeaf.Models.EtatProfil.ATTENTE_VALIDATION)
                                {
                                    <td><img class="etatAt" src="~/IMG/ICONE ADMIN/Glyph_.png"></td>

                                }
                                else if (item.EtatProfil == TakoLeaf.Models.EtatProfil.COMPTE_BLOQUE)
                                {
                                    <td> <img class="etat" src="~/IMG/ICONE ADMIN/VectorEtatInvalide.png"></td>
                                }

                            </tr>

                        }
                    }
                    </table>
                </div>
            </div>


        </div>

    </body>
</html>
