@model TakoLeaf.ViewModels.DashViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>


    <div style="position:center">
        <table>
            <tr>
                <th>Consumer</th>
                <th>Provider</th>
                <th>Date</th>
                <th>Etat de la prestation</th>
                <th>Prix</th>
            </tr>

            @foreach (var item in Model.ListePrestations)
            {
                <tr>
                    <td>@item.Consumer.Adherent.Nom</td>
                    <td>@item.Provider.Adherent.Nom</td>
                    <td>@item.DateVoulue.ToShortDateString()</td>

                    @if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.Refuse)
                    {
                        <td>Annulé</td>
                    }
                    else if (item.EtatPresta == TakoLeaf.Models.Prestation.Etat.En_cours)
                    {
                        <td>En cours</td>
                    }
                    else
                    {
                        <td>Terminée</td>
                    }

                    <td>@item.Prix</td>


                </tr>
            }

        </table>
    </div>

    <div style="position:center">
        <table>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>               
                <th>Mail</th>
                <th>role</th>
            </tr>

            @foreach (var item in Model.ListeCompte)
            {
                <tr>
                    <td>@item.Adherent.Nom</td>
                    <td>@item.Adherent.Prenom</td> 
                    <td>@item.Mail</td>
                    <td>@item.Role</td>
                    
                </tr>
            }

        </table>
    </div>



</body>
</html>
