@model List<TakoLeaf.Models.Article>
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Articles";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GestionArticles</title>
    <script src="https://kit.fontawesome.com/1cc7c2dd80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/GestionArticles.css" />

</head>
<body>
    @{int count = Model.Count();}
    <h1 class="title">Gestion des articles</h1>



    @*<div class="search-box">
            <input class="search-txt" name="" placeholder="Type to search" />
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>*@





    <div id="box">
        <fieldset class="contenu">
            <h3>Articles(s) : @count</h3>
            <table class="donnees">

                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Public</th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>@Html.ActionLink(item.Titre, "ModifierArticle", "Admin", new { id = item.Id })</td>


                        @if (item.Public)
                        {
                            <td>Publié le : @item.DatePublication.ToShortDateString() à @item.DatePublication.ToShortTimeString()</td>
                            <td class="visible">@Html.ActionLink("Oui", "ModificationVisibilite", "Admin", new { id = item.Id })</td>
                        }
                        else
                        {
                            <td>Rédigé le : @item.DateRedaction.ToShortDateString() à @item.DateRedaction.ToShortTimeString()</td>
                            <td class="invi">@Html.ActionLink("Non", "ModificationVisibilite", "Admin", new { id = item.Id })</td>
                        }
                    <td>@Html.ActionLink("", "SuppressionArticle", "Admin", new { id = item.Id })<img class="delete" src="~/IMG/ICONE ADMIN/DeleteIcon.png" /></td>
                    </tr>

                    @*@{string editLink = "/Admin/SupprimerCompte?id=" + item.AdherentId; }

                    <td><a href="@editLink"><img class="delete" src="~/IMG/ICONE ADMIN/DeleteIcon.png" /></a></td>*@


                }
            </table>
        </fieldset>
    </div>

    <div class="bouton">
        <button>@Html.ActionLink("Créer un article", "PublicationArticle", "Admin")</button>
    </div>


    @*<fieldset style="display:inline-block">
        <legend>Mes articles invisibles</legend>

        @{ count = 0; }

        <table>
            <tr>
                <th>Titre</th>
                <th>Date</th>
            </tr>

            @foreach (var item in Model)
            {
                if (!item.Public)
                {

                    <tr>
                        <td><button>@Html.ActionLink(item.Titre, "ModifierArticle", "Admin", new { id = item.Id })</button></td>
                        <td>Redigé le : @item.DateRedaction.ToShortDateString() à @item.DateRedaction.ToShortTimeString()</td>
                        <td class="invisible"><button>@Html.ActionLink("Invisible", "ModificationVisibilite", "Admin", new { id = item.Id })</button></td>
                        <td><button>@Html.ActionLink("Supprimer Article", "SuppressionArticle", "Admin", new { id = item.Id })</button></td>
                    </tr>
                    count++;
                }
            }
        </table>

        <h2>Articles non publics : @count</h2>

    </fieldset>*@



</body>
</html>
