@model List<TakoLeaf.Models.CompteUser>
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Gestion des comptes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <style type="text/css">

        .box {
            box-sizing: content-box;
            /*            position: static;*/
            display: flex;
        }

        .conteneur {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            max-height: 900px;
            overflow: auto;
        }

        .ad {
            /*box-sizing: content-box;*/
            text-align: center;
            width: 100%;
            right: 0px;
        }

        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #e1e1e1;
            border: 31px none #ffffff;
            border-radius: 5px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #a1a1a1;
            }

            ::-webkit-scrollbar-thumb:active {
                background: #a3a3a3;
            }

        ::-webkit-scrollbar-track {
            background: #f0f0f0;
            border: 1px solid #ffffff;
            border-radius: 5px;
        }

            ::-webkit-scrollbar-track:hover {
                background: #f2f2f2;
            }

            ::-webkit-scrollbar-track:active {
                background: #f5f5f5;
            }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }

        .tableauH {
            height: 50px;
            font-size: 20px;
        }

        .etat, .delete {
            width: 25px;
            height: 25px;
        }

        .etatAt {
            width: 30px;
            height: 30px;
        }

        .donnees {
            background-color: white;
            height: 100px;
            width: 100%
        }

        tr.donnees:hover {
            background-color: #F5F5F5;
        }

        .donnees td {
            border-bottom: solid #A1E1AF 2px;
        }

        .avatar {
            width: 90px;
            height: 90px;
            clip-path: ellipse(50% 50%);
        }

        /* Modal box*/


        /* Set a style for all buttons */
        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            button:hover {
                opacity: 1;
            }

        /* Float cancel and delete buttons and add an equal width */
        .cancelbtn, .deletebtn {
            float: left;
            width: 50%;
        }

        /* Add a color to the cancel button */
        .cancelbtn {
            background-color: #ccc;
            color: black;
        }

        /* Add a color to the delete button */
        .deletebtn {
            background-color: #f44336;
        }

        /* Add padding and center-align text to the container */
        .container {
            text-align: center;
        }

        /* The Modal (background) */
        .modal {
            outline: 8px solid rgb(164 234 147);
            border-radius: 40px;
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 100000000000000; /* Sit on top */
            left: 40%;
            top: 50%;
            width: 684px; /* Full width */
            height: 271px; /* Full height */
            /*overflow:auto;*/ /* Enable scroll if needed */
            background-color: #ffffff;
            padding-top: 50px;
        }

        /* Modal Content/Box */
        .modal-content {
            /* background-color: #fefefe;
            margin: 5% auto 15% auto;  5% from the top, 15% from the bottom and centered */
            /* border: 1px solid #888;*/
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* Style the horizontal ruler */
        /*hr {*/
        /*border: 1px solid #f1f1f1;*/
        /*margin-bottom: 25px;*/
        /*}*/

        /* The Modal Close Button (x) */
        .close {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 40px;
            font-weight: bold;
            color: #f1f1f1;
        }

            .close:hover,
            .close:focus {
                color: #f44336;
                cursor: pointer;
            }

        /* Clear floats */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .entete {
            text-align: center;
            padding: 30px;
        }

        * {
            color: #2f4858;
        }
    </style>

</head>
<body>

    <h1 class="entete">Bienvenue sur le gestionnaire de compte</h1>


    <div class="box">
        <div class="conteneur">
            <table class="ad">
                <tr class="tableauH">
                    <th></th>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Mail</th>
                    <th>Etat</th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Role != "Admin")
                    {


            <tr class="donnees">
                @{string editLink1 = "/Admin/AfficherProfil?id=" + item.AdherentId; }
                @if (item.Avatar != null)
                {
                    <td><a href="@editLink1"><img class="avatar" src="~/Avatar/@item.Avatar" /></a></td>
                }
                else
                {
                    <td><a href="@editLink1"><img class="avatar" src="~/IMG/AVATAR ADMIN/Anonyme.png" /></a></td>
                }

                <td>@item.Adherent.Id</td>
                <td>@item.Adherent.Nom.ToUpper() @item.Adherent.Prenom</td>
                <td>@item.Role.ToUpper()</td>
                <td>@item.Mail</td>

                @if (item.EtatProfil == TakoLeaf.Models.EtatProfil.VALIDE)
                {
                    <td><img class="etat" src="~/IMG/ICONE ADMIN/EtatValide.png"></td>
                }
                else if (item.EtatProfil == TakoLeaf.Models.EtatProfil.ATTENTE_VALIDATION)
                {
                    string editLink3 = "/Admin/ValiderProfil?id=" + item.AdherentId;

                    <td><a onclick="document.getElementById('id01').style.display='block'"><img class="etatAt" src="~/IMG/ICONE ADMIN/Glyph_.png"></a></td>
                    <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                        <form class="modal-content" action="/action_page.php">
                            <div class="container">
                                <h1>Changer l'Etat du profil</h1>
                                <p>Que souhaitez vous faire pour @item.Adherent.Nom.ToUpper() @item.Adherent.Prenom</p>

                                <div class="clearfix">
                                    <button type="button" class="cancelbtn" onclick="@Html.ActionLink("Valider le profil", "ValiderProfil", "Admin", new { id = item.AdherentId })"></button>
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn"><img src="~/IMG/ICONE ADMIN/EtatValide.png" />Valider le compte</button>
                                </div>
                            </div>
                        </form>
                    </div>
                }



                else if (item.EtatProfil == TakoLeaf.Models.EtatProfil.COMPTE_BLOQUE)
                {
                    <td><a onclick="document.getElementById('id01').style.display='block'"><img class="etat" src="~/IMG/ICONE ADMIN/VectorEtatInvalide.png"></a></td>

                    <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                        <form class="modal-content" action="/action_page.php">
                            <div class="container">
                                <h1>Delete Account</h1>
                                <p>Are you sure you want to delete your account?</p>

                                <div class="clearfix">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>


                }
                else
                {
                    <td><img class="etat" src="~/IMG/ICONE ADMIN/VectorEtatInvalide.png"></td>
                }


                @{string editLink = "/Admin/SupprimerCompte?id=" + item.AdherentId; }

                <td><a href="@editLink"><img class="delete" src="~/IMG/ICONE ADMIN/DeleteIcon.png" /></a></td>
                @*<td>@Html.ActionLink("Supprimer Profil", "SupprimerCompte", "Admin", new { id = item.AdherentId })</td>*@
            </tr>
                    }
                }

            </table>
        </div>
    </div>

    @*<h3>Nombre d'adhérent actuel : <p style="color:crimson">@Model.Count</p></h3> <br />

        <br />

        <h2 style="text-align:center; font-family:sans-serif;">Comptes en attente de validation</h2>

        <form>
            <div>
                <input type="search" id="maRecherche" name="q"
                       placeholder="Recherchez un adhérent" required>
                <button>Rechercher</button>
                <span class="validity"></span>
            </div>
        </form>*@


    @*<div style="position:center">
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Description</th>
                    <th>Mail</th>
                    <th>Etat du profil</th>
                </tr>

                @{ int count = 0;}


                @foreach (var item in Model)
                {


                    if (item.EtatProfil == TakoLeaf.Models.EtatProfil.NON_VALIDE || item.EtatProfil == TakoLeaf.Models.EtatProfil.ATTENTE_VALIDATION)
                    {

                        string editLink = "/Admin/ValiderProfil?id=" + item.AdherentId;
                        string editLink1 = "/Admin/BloquerProfil?id=" + item.AdherentId;

                        <tr>
                            <td>@item.Adherent.Nom</td>
                            <td>@item.Adherent.Prenom</td>
                            <td>@item.Description</td>
                            <td>@item.Mail</td>
                            <td>@item.EtatProfil</td>
                            <td>@Html.ActionLink("Valider Profil", "ValiderProfil", "Admin", new { id = item.CompteUser.AdherentId })  </td>
                            <td><a href="@editLink">Valider le profil</a></td>
                            <td><a href="@editLink1">Bloquer le compte</a></td>
                        </tr>

                        count++;
                    }
                }

            </table>
        </div>*@

    @*<h3>Comptes nécessitant une validation de profil : <p style="color:crimson">@count</p></h3><br />*@

    @*<h2 style="text-align:center; font-family:sans-serif;">Comptes bloqués</h2>

        @{count = 0;}

        <div style="position:center">
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Description</th>
                    <th>Mail</th>
                    <th>Etat du profil</th>
                </tr>

                @foreach (var item in Model)
                {


                    if (item.EtatProfil == TakoLeaf.Models.EtatProfil.COMPTE_BLOQUE)
                    {


                        string editLink3 = "/Admin/DebloquerProfil?id=" + item.AdherentId;

                        <tr>
                            <td>@item.Adherent.Nom</td>
                            <td>@item.Adherent.Prenom</td>
                            <td>@item.Description</td>
                            <td>@item.Mail</td>
                            <td>@item.EtatProfil</td>
                            <td>@Html.ActionLink("Débloquer Profil", "DebloquerProfil", "Admin", new { id = item.AdherentId })</td>
                        </tr>

                        count++;

                    }
                }


            </table>
        </div>
        <h3>Nombre de comptes bloqués : <p style="color:crimson">@count</p></h3><br />*@


    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>
