@model TakoLeaf.Models.Article
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Modification article";
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://cdn.tiny.cloud/1/yd36gh7ryo0g33xjyre47fcstapvpntex6lummgys933q1k6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
    <link rel="stylesheet" href="~/CSS/ModificationArticleAdmin.css" />

    <title>Modification article</title>
    <style>


        * {box-sizing: border-box}

        /*.w3-modal {
            z-index: 3;
            display: none;
            padding-top: 100px;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4)
        }

        .w3-modal-content {
            margin: auto;
            background-color: #fff;
            position: relative;
            padding: 0;
            outline: 0;
            width: 600px
        }

        .w3-teal, .w3-hover-teal:hover {
            color: #fff !important;
            background-color: #009688 !important
        }*/

        /*Set a style for all buttons */
        /*button {*/
            /*  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;*/

            /*margin-left: 0px;
            outline: none;
            background-color: var(--first-color);
            color: white;
            font-size: var(--normal-font-size);
            border-radius: .9rem;
            border: 1px solid var(--border-color);
            cursor: pointer;
            transition: .3s;
        }*/

         /*   button:hover {
                opacity:1;
                box-shadow: 0 10px 20px rgba(0, 0, 0, .10);
            }

        .w3-container:after, .w3-container:before {
            content: "";
            display: table;
            clear: both
        }*/
        /* Float cancel and delete buttons and add an equal width */
        .cancelbtn, .deletebtn {
            float: left;
            width: 50%;
        }

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
/*.container {
  padding: 16px;
  text-align: center;
}*/

/* The Modal (background) */
/*.modal {
  display: none;*/ /* Hidden by default */
  /*position: fixed;*/ /* Stay in place */
  /*z-index: 1;*/ /* Sit on top */
  /*left: 0;
  top: 0;
  width: 100%;*/ /* Full width */
  /*height: 100%;*/ /* Full height */
  /*overflow: auto;*/ /* Enable scroll if needed */
  /*background-color: #474e5d;
  padding-top: 50px;
}*/

/* Modal Content/Box */
/*.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;*/ /* 5% from the top, 15% from the bottom and centered */
  /*border: 1px solid #888;
  width: 80%;*/ /* Could be more or less, depending on screen size */
/*}*/

/* Style the horizontal ruler */
/*hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}*/

/* The Modal Close Button (x) */
/*.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}*/

/* Clear floats */
/*.clearfix::after {
  content: "";
  clear: both;
  display: table;
}*/

/* Change styles for cancel button and delete button on extra small screens */
@*@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }*@
}


    </style>
</head>
<body>

    <h1 class="test">Modification Article</h1>

    <div id="box">
        <div class="contenu">
            @using (Html.BeginForm())
            {

                <h3 class="test">Une petite modif' ?'</h3>

                <div class="titre">
                    @Html.LabelFor(model => model.Titre)
                    @Html.TextBoxFor(m => m.Titre, new { size = "100" })
                    @Html.ValidationMessageFor(model => model.Titre)
                </div>

                <div class="article">
                    @*@Html.LabelFor(model => model.Texte)*@
                    @Html.TextAreaFor(m => m.Texte, new { rows = 20, cols = 150, @class = "mytextarea" })
                    @Html.ValidationMessageFor(model => model.Texte)
                </div>

                @*<div class="form-floating mb-3">
                        @Html.LabelFor(model => model.Image)
                        @Html.TextBoxFor(model => model.Image)
                        @Html.ValidationMessageFor(model => model.Image)
                    </div>*@
                <div class="bouton">
                    <button type="submit" @*onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"*@>Publier</button>
                </div>

                @*<div id="postForm" style="visibility:hidden">
                        test
                        <button type="submit">Valider</button>
                    </div>*@







                @*<div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <form class="modal-content" action="/action_page.php">
                            <div class="container">
                                <h1>Delete Account</h1>
                                <p>Are you sure you want to delete your account?</p>

                                <div class="clearfix">
                                    <button type="submit" class="cancelbtn">Yes</button>
                                    <button type="button" class="deletebtn" onclick="document.getElementById('id01').style.display='none'">No</button>
                                </div>
                            </div>
                        </form>
                    </div>*@

                @*<div id="id01" class="w3-modal">
                    <div class="w3-modal-content">
                        <header class="w3-container w3-teal">
                            <span onclick="document.getElementById('id01').style.display='none'"
                                  class="w3-button w3-display-topright">&times;</span>
                            <h2>Attention @User.Identity.Name !</h2>
                        </header>
                        <div class="w3-container">
                            <p>Confirmer la publication de l'article sur le site ?</p>
                            <button type="submit" class="cancelbtn">Let's go !</button>
                            <button type="button" class="deletebtn" onclick="document.getElementById('id01').style.display='none'">Finalement...</button>
                        </div>
                        <footer class="w3-container w3-teal">
                            <p>TakoLeaf.inc</p>
                        </footer>
                    </div>
                </div>*@



            }
        </div>
    </div>


    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        // Get the modal
        var modal = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        function OuvrirPostForm(id) {
            document.getElementById(id).style.display = "block";
        }</script>
    <script>
        tinymce.init({
            selector: '.mytextarea',
            plugins: 'image',
            a11y_advanced_options: true
        });</script>

    @*<script>
        function OuvrirPostForm() {

            document.getElementById("postForm").style.visibility = "visible";


        }</script>*@



    @*@if (ViewBag.Message != null)
            {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };

        </script>
            }*@

</body>
</html>
