@model TakoLeaf.Models.Article
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Publier article";
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://cdn.tiny.cloud/1/yd36gh7ryo0g33xjyre47fcstapvpntex6lummgys933q1k6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
    <link rel="stylesheet" href="~/CSS/ModificationArticleAdmin.css"/>
    <title>PublicationArticle</title>
</head>
<body>

    <h1 class="test">Publication d'un article</h1>

    <div id="box">
        <div class="contenu">
            @using (Html.BeginForm())
            {

                <h3 class="test">Êtes-vous inspiré(e) ?</h3>

                <div class="titre">
                    @Html.LabelFor(model => model.Titre)
                    @Html.TextBoxFor(m => m.Titre, new { placeholder = "Votre titre ici", size = "50" })
                    @Html.ValidationMessageFor(model => model.Titre)
                </div>

                <div class="article">
                    @Html.LabelFor(model => model.Texte)
                    @Html.TextAreaFor(m => m.Texte, new { rows = 20, cols = 150, placeholder = "Votre article ici", @class = "mytextarea" })
                    @Html.ValidationMessageFor(model => model.Texte)
                </div>

                @*<div class="form-floating mb-3">
                    @Html.LabelFor(model => model.Image)
                    @Html.TextBoxFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image)
                </div>*@
        <div class="bouton">
            <button type="submit" @*onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"*@>Publier</button>
            <!--<button type="button"--> @*onclick="document.GetElementById('id02').style.display='block'" class="w3-button w3-black"*@
        </div>
}
        </div>

    </div>
    @*Ajouter</button
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                    <header class="w3-container w3-teal">
                        <span onclick="document.getElementById('id01').style.display='none'"
                              class="w3-button w3-display-topright">&times;</span>
                        <h2>Attention @User.Identity.Name !</h2>
                    </header>
                    <div class="w3-container">
                        <p>Confirmer la publication de l'article sur le site ?</p>
                        <button type="submit" class="cancelbtn">Let's go !</button>
                        <button type="button" class="deletebtn" onclick="document.getElementById('id01').style.display='none'">Finalement...</button>
                    </div>
                    <footer class="w3-container w3-teal">
                        <p>TakoLeaf.inc</p>
                    </footer>
                </div>
            </div>


            <div id="id02" class="w3-modal">
                <div class="w3-modal-content">
                    <header class="w3-container w3-teal">
                        <span onclick="document.getElementById('id02').style.display='none'"
                              class="w3-button w3-display-topright">&times;</span>
                        <h2>Attention @User.Identity.Name !</h2>
                    </header>
                    <div class="w3-container">
                        <p>L'article ne sera pas publié sur le site et sera mis en attente</p>
                        <button type="submit" class="cancelbtn">Confirmer</button>
                        <button type="button" class="deletebtn" onclick="document.getElementById('id02').style.display='none'">Finalement...</button>
                    </div>
                    <footer class="w3-container w3-teal">
                        <p>TakoLeaf.inc</p>
                    </footer>
                </div>
            </div>


        <div>
        </div>



        <script>
            // Get the modal
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script>
            // Get the modal
            var modal = document.getElementById('id02');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>*@


        <script>
            function OuvrirPostForm(id) {
                document.getElementById(id).style.display = "block";
            }</script>
        <script>
            tinymce.init({
                selector: '.mytextarea',
                plugins: 'image',
                a11y_advanced_options: true
            });</script>


</body>
</html>
