@model TakoLeaf.Models.CompteUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tako Leaf Connexion</title>
    <link rel="stylesheet" href="~/css/ConnexionStyle.css">

    <link rel="stylesheet" href="~/js/Connexion-script.js">
    <!-- BOOSTRAP CSS-->
    <link rel="stylesheet" href="~/site/css/bootstrap.css">


</head>
<body>
    <!--Début Section du Header-->
    <section>
        <header>
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
            <div class="logo"><img src="~/IMG/TAKO ECO new.png"></div>
            <h1 class="titremidheader">Tako Leaf</h1>
        </header>
        <div class="menu">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Actualites", "Home")">Fil d'actu</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Inscription", "Login")">Inscription</a></li>
                    <li><a href="@Url.Action("Connexion", "Login")">Connexion</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("VoirProfil", "ProfilUser")">Profil</a></li>
                    <li><a href="@Url.Action("MessagesRecus", "Messagerie")">Messagerie</a></li>
                    <li><a href="@Url.Action("Sujets", "Forum")">Forum</a></li>
                    <li><a href="@Url.Action("Deconnexion", "Login")">Deconnexion</a></li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <a href="/Admin/GestionComptes">Espace Admin</a>
                }
                <li><a href="@Url.Action("Recherche", "Recherche")">Recherche</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
    </section>


    <!--FIn Section du Header-->




    <section class="connexionHome">
        <div class="content">
            <h1>Bonjour</h1>
            <div class="bodybox">
                <div class="l-form">
                    <form method="post">
                        <h2 class="form__titre">Merci de vous connecter.</h2>


                        <div class="form__div">
                            @Html.TextBoxFor(model => model.Mail, new { @class = "form__input" })
                            @Html.LabelFor(model => model.Mail, new { @class = "form__label" })
                            @Html.ValidationMessageFor(model => model.Mail)
                        </div>

                        <div class="form__div">
                            @Html.TextBoxFor(model => model.MotDePasse, new { @type = "password", @class = "form__input" })
                            @Html.LabelFor(model => model.MotDePasse, new { @class = "form__label" })
                            @Html.ValidationMessageFor(model => model.MotDePasse)
                        </div>

                        <button class="form__button1" type="submit">Connexion</button>
                        <button class="form__button2" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Annuler</button>


                    </form>

                </div>

                <div class="textlink1">
                    <ul>
                        <li> <a href="http://localhost:5000/Login/Inscription">Créez un compte</a></li>
                        <li> <a href="#">Mot de passe oublié ?</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>



    <!--Section footer-->
    <section class="footerBot">
        <footer class="footer-items">
            <div class="container">
                <div class="footer-contact">
                    <h3> Nous rencontrer</h3>
                    <ul>
                        <li>Adresse</li>
                        <li>Adresse</li>
                        <li>Adresse</li>
                        <li>Telephone: XX.XX.XX.XX.XX</li>
                    </ul>
                </div>
                <div class="footer-infos">
                    <h3> Tako Leaf</h3>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")#section-home">Notre Projet</a></li>
                        <li><a href="@Url.Action("Index","Home")#section-information">Comment ça marche ?</a></li>
                    </ul>
                </div>
                <div class="footer-questions">
                    <h3> Besoin d'aide ?</h3>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Contacter Administrateur</a></li>
                    </ul>
                </div>
            </div>

            <div class="imageRS">

                <a href=""><img src="~/IMG/RS/entypo-social_instagram-with-circle.png" alt="" class="instagram"></a>
                <a href=""><img src="~/IMG/RS/Vector-1.png" alt="" class="twitter"></a>
                <a href=""><img src="~/IMG/RS/Vector.png" alt="" class="facebook"></a>
            </div>
            <div class="copirate">
                <h4 class="copyratetext">
                    © 2021 Tako’Leaf. ALL RIGHTS RESERVED.
                </h4>
            </div>
        </footer>
    </section>

    <!--FIN Section footer-->
    <!-- D'abord on vas mettre Jquery-->
    <script src="~/jquery-3.6.0.js"></script>

    <!-- Puis on vas mettre boostrap.JS-->
    <script src="~/js/boostrap.bundle.js"></script>


    <script src="~/js/Homescript.js"></script>






</body>
</html>
