@model TakoLeaf.ViewModels.UtilisateurViewModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscription</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Adherent.Prenom, new { @class = "form-control", placeholder = "Prenom" })
                @Html.LabelFor(model => model.Adherent.Prenom)
                @Html.ValidationMessageFor(model => model.Adherent.Prenom)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Adherent.Nom, new { @class = "form-control", placeholder = "Nom" })
                @Html.LabelFor(model => model.Adherent.Nom)
                @Html.ValidationMessageFor(model => model.Adherent.Nom)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Adherent.Date_naissance, new { @type = "date", @class = "form-control" })
                @Html.LabelFor(model => model.Adherent.Date_naissance)
                @Html.ValidationMessageFor(model => model.Adherent.Date_naissance)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Adherent.Adresse, new { @class = "form-control", placeholder = "Adresse" })
                @Html.LabelFor(model => model.Adherent.Adresse)
                @Html.ValidationMessageFor(model => model.Adherent.Adresse)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.Adherent.Telephone, new { @type = "tel", @class = "form-control", placeholder = "Téléphone" })
                @Html.LabelFor(model => model.Adherent.Telephone)
                @Html.ValidationMessageFor(model => model.Adherent.Telephone)
            </div>


            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.CompteUser.Mail, new { @type = "email", @class = "form-control", placeholder = "Email" })
                @Html.LabelFor(model => model.CompteUser.Mail)
                @Html.ValidationMessageFor(model => model.CompteUser.Mail)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.CompteUser.MotDePasse, new { @type = "password", @class = "form-control", placeholder = "Mot de Passe" })
                @Html.LabelFor(model => model.CompteUser.MotDePasse)
                @Html.ValidationMessageFor(model => model.CompteUser.MotDePasse)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.CompteUser.Avatar, new { @class = "form-control", placeholder = "Avatar" })
                @Html.LabelFor(model => model.CompteUser.Avatar)
                @Html.ValidationMessageFor(model => model.CompteUser.Avatar)
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(model => model.CompteUser.Description, new { @class = "form-control", placeholder = "Description" })
                @Html.LabelFor(model => model.CompteUser.Description)
                @Html.ValidationMessageFor(model => model.CompteUser.Description)
            </div>

            <div>
                @Html.CheckBoxFor(model => model.Adherent.IsConsumer)
                @Html.LabelFor(model => model.Adherent.IsConsumer)
                @Html.CheckBoxFor(model => model.Adherent.IsProvider)
                @Html.LabelFor(model => model.Adherent.IsProvider)
            </div>

            <!-- Submit Button-->
            <button class="btn btn-primary btn-xl" type="submit">Créer</button>
        }


       
    </div>
</body>
</html>
