<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tako Leaf</title>

    <link rel="stylesheet" href="~/CSS/_Layout.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link rel="stylesheet" href="~/js/_Layout.js">
    <!-- BOOSTRAP CSS-->
    <link rel="stylesheet" href="~/site/css/bootstrap.css">



</head>
<body>







    <!--Début Section du Header-->
    <section>
        <header>
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
            <div class="logo"><img src="~/IMG/TAKO ECO new.png"></div>
            <h1 class="titremidheader">Tako Leaf</h1>
        </header>

        <div class="menu">
            <ul>
                <li>@Html.ActionLink("Se deconnecter", "Deconnexion", "Login", new { id = Model.Adherent.Id })</li>
                <li>@Html.ActionLink("Voir Profil", "VoirProfil", "ProfilUser")</li>
                <li>@Html.ActionLink("Modifier information adherent", "ModifInfosAdherent", "ProfilUser", new { id = Model.Adherent.Id })</li>
                <li>@Html.ActionLink("Modifier information compte", "ModifCompte", "ProfilUser", new { id = Model.Adherent.Id })</li>
                <li>@Html.ActionLink("Historique","Historique","Prestation", new { id = Model.Adherent.Id }) </li>

                @if (Model.CompteUser.Role.Equals("Consumer"))
                {
                    <li>@Html.ActionLink("Ajouter un vehicule", "AjoutVehicule", "ProfilUser", new { id = Model.Consumer.Id })</li>
                    <li>@Html.ActionLink("Modifier le véhicule", "ModifVoiture", "ProfilUser", new { id = Model.Consumer.Id }) </li>
                    <li>@Html.ActionLink("Liste des devis", "AccepterDevis", "Devis") </li>
                    <li>@Html.ActionLink("Liste des prestations", "PrestationsEnCours","Prestation", new { id = Model.Adherent.Id })</li>
                }

                @if (Model.CompteUser.Role.Equals("Provider"))
                {
                    <li>@Html.ActionLink("Ajouter Ressources", "AjoutRessource", "ProfilUser", new { id = Model.Provider.Id })</li>
                    <li>@Html.ActionLink("Modifier Ressources", "ModifierRessource", "ProfilUser", new { id = Model.Provider.Id })</li>
                    <li>@Html.ActionLink("Modifier Competences", "ModifCompetence", "ProfilUser", new { id = Model.Provider.Id })</li>
                    <li>@Html.ActionLink("Ajouter Competences", "AjoutCompetence", "ProfilUser", new { id = Model.Provider.Id })</li>
                    <li>@Html.ActionLink("Liste des demandes de devis", "ListeDemandeDevis", "Devis")</li>
                }
            </ul>
        </div>

    </section>


    <!--FIn Section du Header-->

    <section id="contenu" class="PAGEMID">
        @RenderBody()
    </section>











    <!--Section footer-->

    <section class="footerBot">
        <footer class="footer-items">
            <div class="container">
                <div class="footer-contact">
                    <h3> Nous rencontrer</h3>
                    <ul>
                        <li>Adresse</li>
                        <li>Adresse</li>
                        <li>Adresse</li>
                        <li>Telephone: XX.XX.XX.XX.XX</li>
                    </ul>
                </div>
                <div class="footer-infos">
                    <h3> Tako Leaf</h3>
                    <ul>
                        <li><a href="#section-home">Notre Projet</a></li>
                        <li><a href="#section-information">Comment ça marche ?</a></li>
                    </ul>
                </div>
                <div class="footer-questions">
                    <h3> Besoin d'aide ?</h3>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Contacter Administrateur</a></li>
                    </ul>
                </div>
            </div>

            <div class="imageRS">

                <a href=""><img src="~/IMG/RS/entypo-social_instagram-with-circle.png" alt="" class="instagram"></a>
                <a href=""><img src="~/IMG/RS/Vector-1.png" alt="" class="twitter"></a>
                <a href=""><img src="~/IMG/RS/Vector.png" alt="" class="facebook"></a>
            </div>
            <div class="copirate">
                <h4 class="copyratetext">
                    © 2021 Tako’Leaf. ALL RIGHTS RESERVED.
                </h4>
            </div>
        </footer>
    </section>




    <!--FIN Section footer-->
    <!-- D'abord on vas mettre Jquery-->
    <script src="~/jquery-3.6.0.js"></script>

    <!-- Puis on vas mettre boostrap.JS-->
    <script src="./site/js/bootstrap.bundle"></script>


    <script src="~/js/_Layout.js"></script>

</body>
</html>